body {
    background-color: lightblue;
}
body {
    font-family: italic;
}
h1 {
    color: black;
    text-align: center;
}
img {
    border: 3px solid black;
}
input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}